/Administrador.class
/Autor.class
/Detalle.class
/DetalleDevolucion.class
/DetallePrestamo.class
/Devolucion.class
/Folio.class
/Main.class
/Mantenimiento.class
/Museo.class
/Nacionalidad.class
/Obra.class
/Persona.class
/Personal.class
/Prestamo.class
/Seguro.class
